<ion-view title="Base Converter">
  <ion-nav-buttons side="left">
    <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
  </ion-nav-buttons>
  <ion-content class="has-header">
    <br>
    <h4 style="text-align:center" class="padding">Start typing in any box
    to instantly convert the value into multiple bases!</h4>
    <br>

    <div class="list" ng-controller="RealtimeCtrl">
      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="number" ng-model="zer" ng-value="first" ng-change="convert(0)" placeholder="01">
        </label>
        <button class="button button-small" ng-click="showAlert(0)" style="width:100px">
          Binary
        </button>
      </div>

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="number" ng-model="oct" ng-value="second" ng-change="convert(1)" placeholder="01234567">
        </label>
        <button class="button button-small" ng-click="showAlert(1)" style="width:100px">
          Octal
        </button>
      </div>

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="number" ng-model="dec" ng-value="third" ng-change="convert(2)" placeholder="0123456789">
        </label>
        <button class="button button-small" ng-click="showAlert(2)" style="width:100px">
         Decimal
        </button>
      </div>

      <div class="item item-input-inset">
        <label class="item-input-wrapper">
          <input type="text" ng-model="hexdis" ng-change="convert(3)" placeholder="Coming in Future Patch!">
        </label>
        <button class="button button-small" style="width:100px">
          Other
        </button>
      </div>   
      <div style="text-align:center">{{err}}</div>  
    </div>
  </ion-content>
</ion-view>
